body {
  margin: 0;
  padding: 0;
  background-image: url('https://img.freepik.com/free-vector/futuristic-background-design_23-2148503793.jpg?t=st=1713939388~exp=1713942988~hmac=10f2e552b0ce361ed95c25594dbc2e83159b586daf5333b99ad0b2781fb31c8a&w=996'); /* Add your background image URL here */
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
}

.container {
  color: black;
  width: 15%;
  height: 25%;
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  margin-left: 800px;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8); /* Add background color with opacity */
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

input[type="file"] {
  display: block;
  margin: 0 auto 20px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
